
<md-dialog aria-label="Details ticket">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: #111">
                <h2>Details ticket</h2>
                <span flex></span>
                <md-button ng-click="cancel()" class="fa fa-close" style="color: white" >
                    <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height  md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding">
                        <table class="table table-light">
                            <tr> <td>ID</td>
                                <td> {{ticket.id}} </td>
                            </tr>
                            <tr> <td>Title</td>
                                <td> {{ticket.title}} </td>
                            </tr>
                            <tr> <td>Status</td>
                                <td> {{ticket.status}} </td>
                            </tr>
                            <tr> <td><p>Creation date</p></td>
                                <td> {{ticket.dateStart}} </td>
                            </tr>
                            <tr> <td>Category</td>
                                <td> {{ticket.category}} </td>
                            </tr>
                            <tr> <td>Target</td>
                                <td> {{ticket.target.name}} </td>
                            </tr>

                            <tr> <td>Customer</td>
                                <td> {{ticket.customer.username}} </td>
                            </tr>
                            <tr> <td>Customer Priority</td>
                                <td> {{ticket.customerPriority}} </td>
                            </tr>
                            <tr> <td>Description</td>
                                <td> {{ticket.description}} </td>
                            </tr>

                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="show relations">
                    <md-content class="md-padding">
                        <table class="table table-light">
                            <tr> <td>Equivalence</td>
                                <td> {{ticket.sameTicket.id}} {{ticket.sameTicket.title}} </td>
                            </tr>
                            <tr> <td>Dependency</td>
                                <td><div ng-repeat = "x in  ticket.dependentTickets">
                                    {{x.id}} {{x.title}}
                                </div></td>
                            </tr>
                            <tr> <td>Regression</td>
                                <td><div ng-repeat = "y in  ticket.regressionTicketsGenerator">
                                    {{y.id}} {{y.title}}
                                </div></td>
                            </tr>
                            <tr ng-repeat = "y in relationName">
                                <td>{{y.name}}</td>
                                <td ng-repeat="rel in relTicket | filter: y.name:rel.name">
                                    {{rel.sonTicket.id}} {{rel.sonTicket.title}}
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>

                <md-tab label="create relation">
                    <md-content class="md-padding">
                        <form  name="myForm">
                            <select  style="color: white" class="btn btn-dark" ng-model ="relation" ng-click="valueRelation(relation)">
                                <option ng-repeat="p in rel">{{p}}</option>
                                <option ng-repeat="s in allRelation">{{s.name}}</option>
                            </select>
                        </form>
                        </td>
                        <td>


                            <select ng-show="relation == 'equality'" class="btn btn-dark" ng-model="ticketequ" ng-click="idTicket(ticketequ)">
                                <option   ng-repeat="t in ticketsforEqu"  ng-value="t.id">{{t.id}} - {{t.title}}</option>
                            </select>

                            <select ng-show="relation == 'dependency'" class="btn btn-dark" ng-model="ticketdep" ng-click="idTicket(ticketdep)">
                                <option   ng-repeat="y in ticketsforDep"  ng-value="y.id">{{y.id}} - {{y.title}}</option>
                            </select>

                            <select ng-show="relation == 'regression'" class="btn btn-dark" ng-model="ticketreg" ng-click="idTicket(ticketreg)">
                                <option   ng-repeat="t in ticketsforReg" ng-value="t.id">{{t.id}} - {{t.title}}</option>
                            </select>

                            <select ng-show="relation != null && relation != 'equality' && relation != 'regression' && relation !== 'dependency' " class="btn btn-dark" ng-model="ticketequ" ng-click="idTicket(ticketequ)">
                                <option   ng-repeat="t in allTick" ng-value="t.id">{{t.id}} - {{t.title}}</option>
                            </select>

                        </td>
                        <td><button ng-disabled="formRel.$invalid" ng-click="createRel($index)" type="button" class="btn btn-dark" style="text-align: center">Create Relation</button></td>

                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button >

            </md-button>

            <span flex></span>

            <md-button ng-click="answer('not useful')" >
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;" >
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
