
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/">Ticketing system</a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item active"><a class="nav-link" href="#!/homeLogin">Login</a></li>
        </ul>

    </div>
</nav>

<div ng-controller="ctrlSignIn" style="padding-left:20%;padding-top: 1%">
<div class="jumbotron" style="background-color:white;opacity:0.95;width: 75%;height: 10%">
    <md-content layout-padding style="background-color: white">
<form name="regForm">

        <div layout-gt-sm="row">
            <md-input-container  flex-gt-sm>
                <label style="font-size: large">Name</label>
                <input  ng-minlength="3" ng-required="true" name="name" ng-model="name">
                <div ng-messages="regForm.name.$error">
                    <div ng-message="required">You must insert a name</div>
                    <div ng-message="minlength">You must insert a name (min 3 char)</div>
                </div>

            </md-input-container>

            <md-input-container  flex-gt-sm>
                <label style="font-size: large">Surname</label>
                <input ng-minlength="3" ng-required="true" name="surname" ng-model="surname">
                <div ng-messages="regForm.surname.$error">
                    <div ng-message="required">You must insert a surname</div>
                    <div ng-message="minlength">You must insert a surname (min 3 char)</div>
                </div>
            </md-input-container>
        </div>

        <div>

            <div layout-gt-xs="row">

                    <md-input-container class="md-block" flex-gt-xs>
                        <label style="font-size: large">Username</label>
                        <input ng-minlength="3" ng-required="true" name="username" ng-model="username">
                        <div ng-messages="regForm.username.$error">
                            <div ng-message="required">You must insert a username</div>
                            <div ng-message="minlength">You must insert a username (min 3 char)</div>
                        </div>
                    </md-input-container>


                </div>
            <div layout-gt-xs="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label style="font-size: large">Password</label>
                        <input placeholder="min 6 char" ng-minlength="6" name="password" ng-required="true" type="password" ng-model="password">
                        <div ng-messages="regForm.password.$error">
                            <div ng-message="required">You must insert a password</div>
                            <div ng-message="minlength">You must insert a password (min 6 char)</div>

                        </div>
                    </md-input-container>

                </div>


            <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label style="font-size: large">Email</label>
                        <input type="email" ng-pattern="emailFormat" ng-value="email" name = "email" ng-required="true" ng-model="email">
                        <div ng-messages="regForm.email.$error">
                            <div ng-message="required">You must insert an email</div>
                        </div>
                    </md-input-container>

                </div>

        </div>

<div align="center">
    <button ng-disabled="regForm.$invalid" ng-click="register()" type="button" class="btn btn-dark" style="text-align: center;width: 150px">Submit</button>
</div>


</form>
        </md-content>
</div>
</div>

