<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/">Ticketing system</a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item active"><a class="nav-link" href="#!/homeSignIn">Sign in</a></li>
        </ul>

    </div>
</nav>


<div ng-controller="ctrlLogin" style="padding-left:20%;padding-top: 3%">
<div class="jumbotron" style="background-color:white ;opacity: 0.85;width: 75%;height: 15%">
<form name="loginForm">
<div style="text-align: center;color:black" >

    <table style="border-collapse: separate;padding-left: 20% ">
        <tr>
           <td><h5>Username </h5></td>
           <td> <input style="width: 300px" class="btn btn-dark" ng-minlength="3" ng-required="true" ng-model="username"></td>
        </tr>

        <tr></tr>
        <tr>
            <td><h5>Password </h5></td>
            <td> <input style="width: 300px" class="btn btn-dark" type="password" ng-minlength="6" ng-required="true" ng-model="password"></td>
        </tr>

        <tr></tr>

        <tr>
            <td></td>
            <td><button ng-disabled="loginForm.$invalid" type="button" ng-click="login()" class="btn btn-dark">Submit</button></td>
        </tr>
    </table>
</div>
</form>
</div>
</div>



