<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/">Ticketing system</a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item active"><a class="nav-link" href="#!/homeSignIn">Sign in</a></li>
        </ul>

    </div>
</nav>

<form name="loginForm">
<div style="text-align: center;color:lightslategrey;padding-top: 150px" ng-controller="ctrlLogin">

    <table align="center">
        <tr>
           <td><h5>Username </h5></td>
           <td> <input ng-minlength="3" ng-required="true" ng-model="username"></td>
        </tr>

        <tr></tr>

        <tr>
            <td><h5>Password </h5></td>
            <td> <input type="password" ng-minlength="6" ng-required="true" ng-model="password"></td>
        </tr>

        <tr></tr>

        <tr>
            <td></td>
            <td><button ng-disabled="loginForm.$invalid" type="button" ng-click="login()" class="btn btn-dark">Submit</button></td>
        </tr>
    </table>
</div>
</form>
