<md-dialog aria-label="Details target">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: #1d2124">
                <h2>Details target</h2>
                <span flex></span>
                <md-button ng-click="cancel()" class="fa fa-close" style="color: white" >
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height  md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding">
                        <table class="table table-light">
                            <tr> <td>ID</td>
                                <td> {{target.id}} </td>
                            </tr>
                            <tr> <td>Target Name</td>
                                <td> {{target.name}} </td>
                            </tr>
                            <tr> <td>Version</td>
                                <td> {{target.version}} </td>
                            </tr>

                            <tr> <td>Description</td>
                                <td> <md-input-container>
                                    <textarea cols="50" class="autogrow" readonly>{{target.description}}
                                    </textarea>
                                </md-input-container></td>
                            </tr>

                        </table>


                    </md-content>
                </md-tab>

        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button >

            </md-button>

            <span flex></span>

            <md-button ng-click="answer('not useful')" style="margin-right:20px;" >
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
