<md-dialog aria-label="Details ticket">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: #1d2124">
                <h2>Details ticket</h2>
                <span flex></span>
                <md-button ng-click="cancel()" class="fa fa-close" style="color: white" >
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height  md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding">
                        <table class="table table-light">
                            <tr> <td>ID</td>
                                <td> {{ticket.id}} </td>
                            </tr>
                            <tr> <td>Title</td>
                                <td> {{ticket.title}} </td>
                            </tr>
                            <tr> <td>Status</td>
                                <td> {{ticket.status}} </td>
                            </tr>
                            <tr> <td><p>Creation date</p></td>
                                <td> {{ticket.dateStart}} </td>
                            </tr>
                            <tr> <td>Category</td>
                                <td> {{ticket.category}} </td>
                            </tr>
                            <tr> <td>Target</td>
                                <td> {{ticket.target.name}} </td>
                            </tr>

                            <tr> <td>Customer</td>
                                <td> {{ticket.customer.username}} </td>
                            </tr>
                            <tr> <td>Customer Priority</td>
                                <td> {{ticket.customerPriority}} </td>
                            </tr>
                            <tr> <td>Description</td>
                                <td> {{ticket.description}} </td>
                            </tr>

                        </table>


                    </md-content>
                </md-tab>

        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button >

            </md-button>

            <span flex></span>

            <md-button ng-click="answer('not useful')" style="margin-right:20px;" >
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
