
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/homeCustomer">Ticketing system</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active"><a permission="['admin','customer']" class="nav-link" href="#!/modifyUser">Modify account</a></li>
            <li class="nav-item active"><a permission="['admin']" class="nav-link" href="#!/showTargets">All targets</a></li>
            <li class="nav-item active"><a permission="['admin']" class="nav-link" href="#!/insertTarget">Insert target</a></li>
            <li class="nav-item active"><a permission="['admin']" class="nav-link" href="#!/showAllTickets">All tickets</a></li>
            <li class="nav-item active"><a permission="['customer', 'admin']"class="nav-link" href="#!/showMyTicket">Show My ticket</a></li>
            <li class="nav-item active"><a permission="['admin']"class="nav-link" href="#!/relation">Create relation</a></li>
            <li class="nav-item active"><a permission="['customer','admin']" class="nav-link" href="#!/createTicket">New ticket</a></li>
            <li class="nav-item active"><a permission="['admin','customer']"class="nav-link" href="#!/">Sign out</a></li>
        </ul>

    </div>
</nav>

<div ng-controller="ctrlModifyUser" style="padding-left:20%;padding-top: 3%">
    <div class="jumbotron" style="background-color:white ;opacity: 0.85;width: 75%;height: 15%">
<form name="modifyUserForm">
    <div style="text-align: center;color:black">

        <table align="center">
            <tr>
                <td><h5>Name</h5></td>
                <td><input style="width: 300px" class="btn btn-dark" ng-minlength="3" ng-required="true" ng-model="name"></td>
            </tr>

            <tr>
                <td><h5>Surname </h5></td>
                <td><input style="width: 300px" class="btn btn-dark" ng-minlength="3" ng-required="true" ng-model="surname"></td>
            </tr>

            <tr>
                <td><h5>Password </h5></td>
                <td><input style="width: 300px" class="btn btn-dark" placeholder="min 6 char" ng-minlength="6" ng-required="true" type="password" ng-model="password"></td>
            </tr>

            <tr>
                <td></td>
                <td><button ng-disabled="modifyUserForm.$invalid" ng-click="modifyUser()" type="button" class="btn btn-dark" style="text-align: center">Submit</button></td>
            </tr>
        </table>
        <table align="center" style="margin-top: 3%">
            <tr>
                <td></td>
                <td><div style="color: forestgreen;text-align: center" ng-hide="result" ng-model="result"><h6>Success in changes</h6></div></td>
            </tr>
            <tr>
                <td></td>
                <td><div style="color: darkred;text-align: center" ng-hide="resultNegative" ng-model="resultNegative"><h6>Changes failed</h6></div></td>
            </tr>
        </table>
    </div>
</form>
    </div>
</div>