
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ticketing system</a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item active"><a class="nav-link" href="#!/">Sign out</a></li>
        </ul>

    </div>
</nav>

<form name="modifyUserForm">
    <div style="text-align: center;color:lightslategrey;padding-top: 150px" ng-controller="ctrlModifyUser">

        <table align="center">
            <tr>
                <td><h5>Name</h5></td>
                <td><input ng-minlength="3" ng-required="true" ng-model="name"></td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td><h5>Surname </h5></td>
                <td><input ng-minlength="3" ng-required="true" ng-model="surname"></td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td><h5>Username </h5></td>
                <td> <input ng-minlength="3" ng-required="true" ng-model="username"></td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td><h5>Password </h5></td>
                <td><input placeholder="min 6 char" ng-minlength="6" ng-required="true" type="password" ng-model="password"></td>
            </tr>
            <tr>

            </tr>
            <!--<tr>
                <td><h5>Email </h5></td>
                <td><input type="email" ng-pattern="emailFormat" name = "input" ng-required="true" ng-model="email"></td>

            </tr>-->
            <tr>

            </tr>
            <tr>
                <td></td>
                <td><button ng-disabled="modifyUserForm.$invalid" ng-click="modifyUser()" type="button" class="btn btn-dark" style="text-align: center">Submit</button></td>
            </tr>
        </table>
        <table align="center" style="margin-top: 3%">
            <tr>
                <td></td>
                <td><div ng-hide="result" ng-model="result"><h1>Registration success</h1></div></td>
            </tr>
            <tr>
                <td></td>
                <td><div ng-hide="resultNegative" ng-model="resultNegative"><h1>Error: insert your correct username</h1></div></td>
            </tr>
        </table>
    </div>
</form>
