<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/">Ticketing system</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active"><a class="nav-link" href="#!/modifyUser">Modify account</a></li>
            <li class="nav-item active"><a class="nav-link" href="#!/showProducts">All products</a></li>
            <li class="nav-item active"><a class="nav-link" href="#!/insertProduct">Insert product</a></li>
            <li class="nav-item active"><a class="nav-link" href="#!/showAllTickets">All tickets</a></li>
            <li class="nav-item active"><a class="nav-link" href="#!/relation">Create relation</a></li>
            <li class="nav-item active"><a class="nav-link" href="#!/createTicket">New ticket</a></li>
            <li class="nav-item active"><a class="nav-link" href="#!/">Sign out</a></li>


        </ul>

    </div>
</nav>


<div ng-controller="ctrlRelation">
    <form name="formRel">
<div layout="column" layout-align="center center" style="padding:40px" ng-cloak>


    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Identification</th>
            <th scope="col">Title</th>
            <th scope="col">Define Relation</th>
            <th scope="col">Choose ticket</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "t in ticketsNoRel">
            <td> {{t.id}}</td>
            <td> {{t.title}} </td>
            <td>

                <form name="myForm">
                <select class="selectpicker" ng-model ="relation" ng-click="valueRelation(relation)">
                    <option  ng-repeat="p in rel">{{p}}</option>
                </select>
                </form>
            </td>
            <td>
                <select ng-show="relation == 'equality'" class="selectpicker" ng-model="ticketequ" ng-click="idTicket(ticketequ)">
                <option   ng-repeat="t in ticketsforEqu">{{t.id}}  {{t.title}}</option>
                </select>

                <select ng-show="relation == 'dependency'" class="selectpicker" ng-model="ticketdep" ng-click="idTicket(ticketdep)">
                    <option   ng-repeat="t in ticketsforDep">{{t.id}}  {{t.title}}</option>
                </select>

                <select ng-show="relation == 'regression'" class="selectpicker" ng-model="ticketreg" ng-click="idTicket(ticketreg)">
                    <option   ng-repeat="t in ticketsforReg">{{t.id}}  {{t.title}}</option>
                </select>
            </td>
           <td><button ng-disabled="formRel.$invalid" ng-click="createRel($index)" type="button" class="btn btn-dark" style="text-align: center">Create Relation</button></td>

        </tr>
        <tr ng-repeat = "t in ticketsDep">
            <td> {{t.id}}


            <td> {{t.title}} </td>

            <td>

                dependency
            </td>
            <td>


                <select class="selectpicker" ng-model="ticketdep" ng-click="idTicket(ticketdep)">
                    <option   ng-repeat="t in ticketsforDep">{{t.id}}  {{t.title}}</option>
                </select>


            </td>
            <td><button ng-disabled="formRel.$invalid" ng-click="createRelDep($index)" type="button" class="btn btn-dark" style="text-align: center">Create Relation</button></td>

        </tr>

        </tr>

        </tbody>
    </table>

</div>
    </form>
</div>
